.footer {
    background: #2F303A;
    padding: 60px 0;
    min-width: 480px;
    width: 100%;
    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include mq(desk) {
            flex-direction: row;
            align-items: baseline;
        }
    }
    &__address {
        @include mq(mob-only) {
            margin-bottom: 60px;
        }
        @include mq(tab) {
            margin-right: 165px;
        }
        @include mq(desk) {
            margin-right: 70px;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 20px;
        color: var(--whtie-color);
        @include mq(no-desk) {
            text-align: center;
        }
    }
}

.footer-block {
    @include mq(tab) {
        display: flex;
        align-items: baseline;
    }
    @include mq(no-desk) {
        margin-bottom: 60px;
    }
}

.address-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.address {
    font-style: normal;
}

.address__link {
    text-align: center;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--blue-color);
    }
    &-start {
        text-align: center;
        color: var(--whtie-color);
        font-size: 14px;
        line-height: 1.7;
        &:hover,
        &:focus {
            color: var(--blue-color);
        }
    }
    @include mq(desk) {
        text-align: left;
    }
}