.button {
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    display: block;
    color: var(--whtie-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    cursor: pointer;
    letter-spacing: 0.06em;
    background-color: var(--blue-color);
    font-family: inherit;
    text-align: center;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}